# The name of your Azure Storage account
ACCOUNT_NAME="your_account_name"

# The name of the source container in your Azure Storage account
SOURCE_CONTAINER="your_source_container"

# The local path where you want to download the blobs, default to working directory
DESTINATION_PATH=""

# The SAS token for accessing your Azure Storage account
SAS_TOKEN="your_sas_token"
