# RIPE Database API URL
API_URL=https://rest.db.ripe.net/ripe/domain

# RIPE Database authentication credentials
RIPE_USERNAME=your_username_here
RIPE_PASSWORD=your_password_here

# API Key (if using API Key Authentication)
# Uncomment the following line if using API Key Authentication
# RIPE_API_KEY=your_api_key_here

# Domain details
DOMAIN=example.com
DESCRIPTION=Example domain description
ADMIN_HANDLE=ADMIN-EXAMPLE
TECH_HANDLE=TECH-EXAMPLE
ZONE_HANDLE=ZONE-EXAMPLE
NS1=ns1.example.com
NS2=ns2.example.com
MAINTAINER_HANDLE=MAINT-EXAMPLE
SOURCE=RIPE
